# Development (Local Machine)
# VITE_BASE_PATH=/
# VITE_API_BASE=http://localhost:3001/api

# Production (Ubuntu Server with Nginx Proxy Manager)
VITE_BASE_PATH=/innoawards/
VITE_API_BASE=/innoawards/api
